
.logo {
  width: 15%;
}


.titre {
  flex: 100%;
  text-align: center;
  font-size: 24px;
}


a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

ul{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  background-color: black;
}



.promotion{
  width: 100%;
}








.global{
  display: flex;
}

.texte {
  flex: 70%;
}

.colonne {
  flex: 30%;
  background-color: grey;
}

@media screen and (max-width: 576px) 
{ 
    
    .colonne{ 
        display: none;
    } 
} 